{% extends 'base.html' %} {% load static %} {% block headers %}
<title>Log In</title>
{% endblock %} {% block content %}
<div
  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-2 border-white rounded-xl w-fit m-auto"
>
  <!-- navbar  -->
  <ul class="flex space-x-10 py-4 pl-6 pr-4 text-xl mx-auto">
    <li>
      <a class="text-white cursor-pointer hover:opacity-100" id="loginAnchor" data-active="true"
        >Login</a
      >
    </li>
    <li><a id="registrationAnchor" data-active="false" class="text-white cursor-pointer opacity-50 hover:opacity-100">Register</a></li>
  </ul>
  
  <!-- login form -->
  <form
  action="{% url 'login' %}"
  method="POST"
  class="flex flex-col justify-center items-center p-4"
  id="loginForm"
  >
  {% csrf_token %}
  <div class="relative w-fit p-4 mt-4 mb-2 mx-2">
    <input
    name="username"
    type="text"
    required
    class="peer p-2 bg-transparent outline-none border-white rounded-xl border-solid border-2 transition-colors duration-150 focus-visible:placeholder:text-gray-500 focus-visible:border-active text-white w-full placeholder:text-white required:not-focus-visible:border-white required:not-focus-visible:invalid:border-error valid:focus-visible:border-success"
    />
    <label
    for="username"
    class="absolute left-5 -top-[15%] text-white"
    >
    Username
  </label>
</div>
<div class="relative w-fit p-4 mt-4 mb-2 mx-2">
  <input
  name="password"
  type="password"
  required
  class="peer p-2 bg-transparent outline-none border-white rounded-xl border-solid border-2 transition-colors duration-150 focus-visible:placeholder:text-gray-500 focus-visible:border-active text-white w-full placeholder:text-white required:not-focus-visible:border-white required:not-focus-visible:invalid:border-error valid:focus-visible:border-success"
  />
  <label
  for="password"
  class="absolute left-5 -top-[15%] text-white"
  >
  Password
</label>
</div>
<button type="submit" class="button m-auto">Login</button>
</form>
<!-- end of login form -->

<!-- register form -->

<form 
  method="POST"
  class="flex flex-col justify-center items-center p-4 hidden"
  action="{% url 'register' %}" 
  id="registrationForm"
  >
  {% csrf_token %}
  <div class="relative w-fit p-4 mt-4 mb-2 mx-2">
    <input
    name="username"
    type="text"
    required
    class="peer p-2 bg-transparent outline-none border-white rounded-xl border-solid border-2 transition-colors duration-150 focus-visible:placeholder:text-gray-500 focus-visible:border-active text-white w-full placeholder:text-white required:not-focus-visible:border-white required:not-focus-visible:invalid:border-error valid:focus-visible:border-success"
    />
    <label
    for="username"
    class="absolute left-5 -top-[15%] text-white"
    >
    Username
  </label>
</div>
<div class="relative w-fit p-4 mt-4 mb-2 mx-2">
  <input
  name="email"
  type="email"
  required
  class="peer p-2 bg-transparent outline-none border-white rounded-xl border-solid border-2 transition-colors duration-150 focus-visible:placeholder:text-gray-500 focus-visible:border-active text-white w-full placeholder:text-white required:not-focus-visible:border-white required:not-focus-visible:invalid:border-error valid:focus-visible:border-success"
  />
  <label
  for="email"
  class="absolute left-5 -top-[15%] text-white"
  >
  Email
</label>
    </div>
    <div class="relative w-fit p-4 mt-4 mb-2 mx-2">
      <input
        name="password1"
        type="password"
        required
        class="peer p-2 bg-transparent outline-none border-white rounded-xl border-solid border-2 transition-colors duration-150 focus-visible:placeholder:text-gray-500 focus-visible:border-active text-white w-full placeholder:text-white required:not-focus-visible:border-white required:not-focus-visible:invalid:border-error valid:focus-visible:border-success"
      />
      <label
        for="password1"
        class="absolute left-5 -top-[15%] text-white"
      >
        Password
      </label>
    </div>
    <div class="relative w-fit p-4 mt-4 mb-2 mx-2">
      <input
        name="password2"
        type="password"
        required
        class="peer p-2 bg-transparent outline-none border-white rounded-xl border-solid border-2 transition-colors duration-150 focus-visible:placeholder:text-gray-500 focus-visible:border-active text-white w-full placeholder:text-white required:not-focus-visible:border-white required:not-focus-visible:invalid:border-error valid:focus-visible:border-success"
      />
      <label
        for="password2"
        class="absolute left-5 -top-[15%] text-white"
      >
        Confirm Password
      </label>
    </div>
  <button type="submit" class="button m-auto">Register</button>
</form>
  <!-- end of register form -->


  <!-- show the error message here -->
  {% if messages %}
  <ul
    class="messages absolute -top-12 left-1/2 -translate-x-1/2 min-w-max w-max"
  >
    {% for message in messages %}
    <li class="bg-error p-2 rounded-md">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

  <script>
    const regForm = document.getElementById("registrationForm")
    const logForm = document.getElementById("loginForm")
    const regAnchor = document.getElementById("registrationAnchor")
    const logAnchor = document.getElementById("loginAnchor")
    const activeClass ="decoration-solid decoration-primary underline decoration-2"

    regAnchor.addEventListener("click", () => {
      logForm.classList.add("hidden")
      regForm.classList.remove("hidden")
      logAnchor.classList.add("opacity-50")
      regAnchor.classList.remove("opacity-50")
    });
    
    logAnchor.addEventListener("click", () => {
      logForm.classList.remove("hidden")
      regForm.classList.add("hidden")
      logAnchor.classList.remove("opacity-50")
      regAnchor.classList.add("opacity-50")
    });

  </script>
{% endblock %}
