{% extends 'base.html' %}
{% load static %}

{% block nav %}
<div></div>
{% endblock nav %}      

{% block content %}
<div id="treeContainer" class="w-full h-full">
    {% include 'components/node_side_bar.html' %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    var received_data  = '{{ tree_json|safe }}'
    tree_data = JSON.parse(received_data)
</script>
<script src="{% static 'js/tree.js' %}"></script>
{% endblock content %}
