{% extends 'base.html' %}
{% load static %}

{% block nav %}
<div></div>
{% endblock nav %}      

{% block content %}
<div id="treeContainer" class="w-full h-full">
    {% include 'components/node_side_bar.html' %}
</div>
<script src="https://d3js.org/d3.v7.min.js"></script>
{% if request.user.is_authenticated %}
<script>
    var profile_pic = "{{ request.user.profile.image|safe }}"
    var username = "{{ request.user }}"
</script>
{% endif %}
<script>
    var tree_data  = {{ tree_json|safe }}
    var static_url = "{% static '' %}"
</script>
<script src="{% static 'js/tree.js' %}"></script>
{% endblock content %}
