{% extends "base.html" %}
{% load static %}

{% block headers %} 
    <title>Dashboard</title>
{% endblock headers %}

{% block content %}
<div class="grid grid-cols-12 h-full">
    {% include "components/sidemenu.html" %}

    <div id="treeContainer" class="col-span-10 h-full bg-background">
        {% include 'components/node_side_bar.html' %}
    </div>
</div>
<script src="https://d3js.org/d3.v7.min.js"></script>
{% if request.user.is_authenticated %}
<script>
    var profile_pic = "{{ request.user.profile.image|safe }}"
    var username = "{{ request.user }}"
</script>
{% endif %}
<script>
    var tree_data  = {{ tree_json|safe }}
    var static_url = "{% static '' %}"
</script>
<script src="{% static 'js/tree.js' %}"></script>
{% endblock content%}
