{% extends "base.html" %}
{% load static %}

{% block headers %} 
    <title>Dashboard</title>

{% endblock headers %}

{% block content %}
<div class="flex h-[calc(100%_-_80px)] relative">
    {% include "components/sidemenu.html"%}

    <div id="treeContainer" class="w-full h-full bg-background relative overflow-hidden">
        {% include 'components/node_side_bar.html' %}
    </div>
</div>
<script src="{% static 'js/skill_tree.js' %}"></script>
<script>
  (async () => {
    const skill_tree = new SkillTree("{{ profile.user.username }}", "#treeContainer");
    await skill_tree.create_tree();
  })();
</script>
{% endblock content%}
