{% extends "base.html" %}
{% load static %}

{% block headers %} 
    <title>Dashboard</title>
{% endblock headers %}

{% block content %}
<div class="grid grid-cols-12 h-full">
    {% include "components/sidemenu.html" %}

    <div class="col-span-10 text-white h-full bg-background">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quis quasi exercitationem quibusdam minima deserunt fuga praesentium corrupti enim animi architecto perferendis voluptas obcaecati, cumque nulla ea numquam, cum voluptate!</p>
    </div>
</div>

{% endblock content%}
