{% block content %}
<form action="/experience-input" method="post" id="experience-form">
    {% csrf_token %}
    <div 
        class = "
            modal experience-modal overflow-y-auto overflow-x-hidden fixed top-0 right-0
            left-0 z-50 w-full md:inset-0 h-full md:h-full flex justify-center items-center 
            bg-gray-600 bg-opacity-50
        " 
        id="experience-input-modal"
        aria-hidden="true"
        style="display: none ">
        <div class = "relative w-[450px] max-w-md h-[700px]">
            <div 
                class="modal-content border-4 shadow-lg relative flex 
                flex-col h-full pointer-events-auto bg-clip-padding 
                rounded-md outline-none text-current">
                <div
                    class="
                    modal-header flex flex-shrink-0 items-center justify-between 
                    p-4 border-b border-gray-200 rounded-t-md">
                    <h5 
                        class="text-xl font-medium leading-normal" 
                        id="exampleModalLabel">
                        Experience Input
                    </h5>
                    <svg id="nsb_close" xmlns="http://www.w3.org/2000/svg" 
                    class="h-6 w-6 cursor-pointer text-gray-500 hover:text-white" 
                    onclick="modalCloseBehaviour('experience-input-modal')"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
                <div class="w-full h-full pt-3 overflow-hidden block whitespace-nowrap">
                    {% comment %} Add overflow hidden to this parent {% endcomment %}
                    {% comment %} then in js prev/next translates ALL exp-tabs by width of parent component? {% endcomment %}
                    <div 
                    class='exp-tab w-full h-full inline-block align-top whitespace-normal 
                    transition duration-300'>
                        <div class="w-full max-h-full flex flex-col">
                            {{ experience_input_form.non_field_errors }}
                            <div class="fieldWrapper input-container w-full p-5 mx-0">
                                {{ experience_input_form.name.errors }}
                                <label for="id_name" class="input-label">Experience Name:</label>
                                <div>
                                    {{ experience_input_form.name }}
                                </div>
                            </div>
                            <div class="fieldWrapper input-container w-full p-5 mx-0">
                                {{ experience_input_form.kind.errors }}
                                <label for="id_type" class="input-label">Type of Experience:</label>
                                {{ experience_input_form.kind }}
                            </div>
                            <div class="fieldWrapper input-container flex block w-full p-5 mx-0">
                                {{ experience_input_form.start_date.errors }}
                                <label for="id_start_date" class="input-label">Start Date:</label>
                                {{ experience_input_form.start_date }}
                            </div>
                            <div class="fieldWrapper input-container flex block w-full p-5 mx-0">
                                {{ experience_input_form.end_date.errors }}
                                <label for="id_end_date" class="input-label">End Date:</label>
                                {{ experience_input_form.end_date }}
                            </div>
                        </div>
                    </div><div 
                    class="exp-tab w-full h-full max-h-full inline-block align-top whitespace-normal
                    transition duration-300">
                        <div class="w-full max-h-full flex flex-col">
                            <div class="fieldWrapper input-container">
                                {{ experience_input_form.description.errors }}
                                <div class="input-label absolute top-[-18px]">Description of Experience:</div>
                                {{ experience_input_form.description }}
                            </div>
                            <div class="fieldWrapper input-container w-full p-5 mx-0">
                                {{ experience_input_form.project_link.errors }}
                                <label for="id_project_link" class="input-label">Project Link:</label>
                                {{ experience_input_form.project_link }}
                            </div>
                            <div class="fieldWrapper input-container w-full p-5 mx-0">
                                {{ experience_input_form.image.errors }}
                                <label for="id_image" class="input-label">Image:</label>
                                {{ experience_input_form.image }}
                            </div>
                        </div>
                    </div><div 
                    class="exp-tab inline-block w-full h-full whitespace-normal align-top
                    transition duration-300">
                        <div class="fieldWrapper input-container">
                            {{ experience_input_form.skills.errors }}
                            <div class="input-label absolute top-[-18px]">Skills Involved:</div>
                            {{ experience_input_form.skills }}
                        </div>
                    </div>
                </div>
                <div>
                    <div class="flex justify-center">
                    <button type="button" class="tech-tag tech-tag-blue min-w-[100px] p-2" id="prevBtn" onclick="translateRightByWidth('exp-tab')">Previous</button>
                    <button type="button" class="tech-tag tech-tag-blue min-w-[100px] p-2" id="nextBtn"  onclick="translateLeftByWidth('exp-tab', 2)">Next</button>
                    </div>
                </div>
            </div>
            <input class="modal-content rounded-md border-4 w-[450px] max-w-md" type="submit" value="Submit"/>
            </div>
        </div>
</form>
{% comment %} <script type="text/javascript">
    $("experience-form").on('submit','#experience-form',function(e){
        e.preventDefault();
        $.ajax({
            type:'POST',
            url:'{% url "experience-handler" %}',
            data:
            {
                'name': [$("#exp-name").val()], 
                'kind': [$("#exp-kind").val()], 
                'start_date_month': [$("#id_start_date_month").val()], 
                'start_date_day': [$("#id_start_date_day").val()], 
                'start_date_year': [$("#id_start_date_year").val()], 
                'end_date_month': ['1'], 
                'end_date_day': [$("#id_end_date_month").val()], 
                'end_date_year': [$("#id_end_date_year").val()], 
                'description': [$("#exp-description").val()], 
                'project_link': [$("#exp-project_link").val()], 
                'image': ['image.png'], 
                'skills': ['javascript', 'react']
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                  alert('Saved');
                    }
            })
        });
    </script> {% endcomment %}
{% endblock content %}