{% block content %}
{% csrf_token %}
<div 
class = "
    modal experience-modal overflow-y-auto overflow-x-hidden fixed top-0 right-0
    left-0 z-50 w-full md:inset-0 h-full md:h-full flex justify-center items-center 
    bg-gray-600 bg-opacity-50
" 
id="experience-display-modal"
aria-hidden="true"
style="display: none">
{% comment %} {% endcomment %}
    <div 
    class="modal modal-content border-4 shadow-lg relative w-[800px] max-h-[800px] flex 
    flex-col h-full pointer-events-auto bg-clip-padding 
    rounded-md outline-none text-current">
        <div
            class="
            modal-header flex flex-shrink-0 items-center justify-between 
            p-4 rounded-t-md">
            <svg id="nsb_close" xmlns="http://www.w3.org/2000/svg" 
            class="relative left-[740px] h-6 w-6 cursor-pointer text-gray-500 hover:text-white" 
            onclick="modalCloseBehaviour('experience-display-modal')"
            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
        <div
        class="px-[50px] pb-[10px] w-full">
            <div class="w-full flex justify-between">
                <div 
                class="experience-name">
                    <h3 
                    class="leading-normal" 
                    id="experience-name">
                    My Coding Journey
                    </h3>
                </div>
                <div class="likes-icon pr-[15px]" id="likes-icon">
                    9999 :)
                </div>
            </div>
        </div>
        <div
        class="px-[50px] pb-[30px] w-full h-full flex flex-col justify-between">
            <div
            class="description pt-[20px] overflow-y-auto">
                <h4
                class="text-slate-400">
                    Description
                </h4>
                <div class="max-h-[300px]">
                    <p id="modal-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus id accusantium omnis amet dolor facilis unde, saepe quidem deleniti laudantium voluptatem laborum velit magni quis architecto iste corporis laboriosam aut obcaecati magnam consequatur maiores vel. Vero, totam. Provident voluptatum fuga distinctio, nam delectus blanditiis eos! Officia quo sit laboriosam.
                    </p>
                </div>
            </div>
            <div
            class="tech-tag-container pt-[20px]">
                <h4
                class="text-slate-400">Skills</h4>
                <div id="tech-tag-container">
                    <div class="tech-tag tech-tag-blue p-2 ml-0">Python</div>
                    <div class="tech-tag tech-tag-green p-2">Django</div>
                    <div class="tech-tag tech-tag-orange p-2">Javascript</div>
                </div>
            </div>
            <div
            class="dates-container flex justify-between">
                <div
                class="start-date inline-block">
                    <h4
                    class="inline-block text-slate-400">Start Date:</h4>
                    <div
                    class="bg-slate-400/[.25] inline-block rounded-lg">
                        <h4
                        id="modal-start-date"> 12 April, 2022</h4>
                    </div>
                </div>
                <div
                class="end-date inline-block">
                    <h4
                    class="text-slate-400 inline-block ">End Date:</h4>
                    <div
                    class="bg-slate-400/[.25] inline-block rounded-lg">
                        <h4
                        class="text-white"
                        id="modal-end-date">18 April, 2022</h4>
                    </div>
                </div>
            </div>
            <div
                class="link pt-[20px]">
                    <h4
                    class="text-slate-400 inline-block ">Project Link</h4>
                    <h5  class="text-slate-400" id="modal-project-link"><a href="">https://linktoproject.me/</a></h5>
            </div>
        </div>
    </div>
</div>

{% endblock content %}