{% extends "base.html" %}
{% load static %}

{% block headers %} 
    <title>Homepage</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
      }
      label {
        font-size: 0.95rem;
        padding-left: 0.5rem;
      }
      input[type=text], input[type=email], input[type=password] {
        width: 20rem;
        height: 2.5rem;
        padding: 0.5rem;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 0.5rem;
      }
      
    </style>
{% endblock headers %}

{% block content %}
<div class="justify-center relative top-36 mx-auto">
    {% if page == "login" %}
    <!-- login page -->
    <div class="border-2 border-white rounded-xl">
      <!-- navbar  -->
      <ul class="flex space-x-10 py-4 pl-6 pr-4 text-xl mx-auto">
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      </ul>
      <form method="POST" action="" class="flex flex-col justify-center items-center px-4 space">
        {% csrf_token %} 
        <!-- The container for input box -->
        <div class="px-4 pt-6 space-y-4">
          <div>
            <!-- bg-transparent border-2 border-white w-80 h-10 p-2 -->
              <label for="username" id="username_label">Username</label><br>
              <input type="text" name="username" id="username_input">
          </div>
          <div>
              <label for="password" id="password_label">Password</label><br>
              <input type="text" name="password" id="password_input">
          </div>
        </div>
        <!-- The end of container for input box -->
        <button type="submit" class="my-10 rounded-lg w-[150px] h-[63px] bg-blue-700">Log In</button>
      </form>
    </div>

    {% else %}
    <!-- register page - styling template -->
    <div class="border-2 border-white rounded-xl">
      <!-- navbar  -->
      <ul class="flex space-x-10 py-4 pl-6 pr-4 text-xl mx-auto">
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      </ul>

      <form method="POST" action="" class="flex flex-col justify-center items-center px-4 space">
        {% csrf_token %} 
        <!-- The container for input box -->
        <div class="px-4 pt-6 space-y-4">
          <div>
            <!-- w-80 h-10 p-2 bg-transparent border-2 border-white -->
              <label for="username" id="username_label">{{form.username.label}}</label><br>
                {{form.username}}
          </div>
          <div>
              <label for="email" id="email_label">{{form.email.label}}</label><br>
                {{form.email}}
          </div>
          <div>
              <label for="password1" id="password1_label">{{form.password1.label}}</label><br>
                {{form.password1}}
          </div>
          <div> 
              <label for="password1" id="password2_label">{{form.password2.label}}</label><br>
                {{form.password2}}
          </div>
        </div>
        <!-- The end of container for input box -->
        <button type="submit" class="my-10 rounded-lg w-[150px] h-[63px] bg-blue-700">Log In</button>
      </form>
    </div>
    {% endif %}
  
    <!-- show the error message here -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- show the error message here -->
    
</div>
{% endblock %}