{% extends 'base.html' %}

{% block content %}


<div class="bg-background h-full p-14 relative">
      <div id="profile" class="flex items-center justify-center space-x-10">
        <div id="pic-container" class="w-52">
          <img src="{{profile.image.url}}" alt="" class="w-full h-52 object-cover object-top rounded-full border-2">
        </div>
        <div>
          <h3>{{profile.first_name | title}} {{profile.last_name | title}}</h3>
          <p>{{profile.bio}}</p>
        </div>
      </div>

      <div id="grid" class="grid gap-8 grid-cols-2 p-20">
        <div id="bio" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Biography</h4>
          <p class="break-words">
            {% if profile.bio %}
              {{profile.bio}}
            {% else %} 
              {{profile.first_name}} don't have bio 😅
            {% endif %}
          </p>
        </div>
        <div id="add-info" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Extra Info</h4>
          <div id="created-time">
            <p>📅 Member since {{profile.date_created}}</p>
          </div>
          <div id="num-exp">
            <p>🔥 Number of experience: {{num_exp}}</p>
          </div>
        </div>

        <div id="email" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Email</h4>
          <p class="break-words">
            {% if profile.email %}
              {{profile.email}}
            {% else %}
              {{profile.first_name}} don't have email 😅
            {% endif %}
          </p>
        </div>

        <div id="social-links" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Social</h4>
          {% if profile.twitter or profile.linkedin or profile.github or profile.website %}
            <ul class="grid grid-cols-2 gap-2">
              <!-- if twitter_link exist -->
              <!--end if -->
              {% if profile.twitter %}
                <a href="{{profile.twitter}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/twitter.html' with class="h-8 w-8 mr-2 fill-white" %}  
                  <li>
                    Twitter
                  </li>
                </a>
              {% endif %}
              {% if profile.linkedin %}
                <a href="{{profile.linkedin}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/linkedin.html' with class="h-8 w-8 mr-2 fill-white " %}  
                  <li>
                    Linkedin
                  </li>
                </a>
              {% endif %}
              {% if profile.github %}
                <a href="{{profile.github}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/github.html' with class="h-8 w-8 mr-2 fill-white" %}
                  <li>
                    Github
                  </li>
                </a>
              {% endif %}
              {% if profile.website %}
                <a href="{{profile.website}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/website.html' with class="h-8 w-8 mr-2 fill-white"  %} 
                  <li>
                    Website
                  </li>
                </a>
              {% endif %}
            </ul>
          {% else %}
            <p>Add your online precense in settings🤩🤩</p>
          {% endif %}
        </div>
      </div>
      <!-- for experience in experiences
              experience
          endfor
      -->
      <h3 class="text-center">Experiences</h3>
      <div id="cards-container" class="grid grid-flow-col auto-cols-[55%] gap-3 overflow-x-auto overscroll-x-contain">
          <div id="card-container">
            <div class="top-card border-2 rounded-xl bg-[url('/static/images/journey_image.jpg')] bg-no-repeat bg-cover bg-center h-[250px] cursor-pointer relative">
              <p class="absolute bottom-3 left-3">(Name)</p>
              <div class="absolute bottom-3 right-3">
                {% include 'icons/heart.html' with class="h-8 w-8 cursor-pointer" %}            
              </div>
            </div>
            <div class="bottom-card max-h-0 overflow-hidden bg-rice-white text-black">
              <div class="p-4 text-center">
                <span class="inline-block">(description)</span>
                <div class="grid grid-cols-2 border-2">
                  <div id="tech">
                    <h3>tech used</h3>
                    <div class="grid grid-cols-[repeat(auto-fit,minmax(100px,1fr))]">
                      {% include 'components/marker.html' with marker_name="HTML" marker_color="bg-red-700"%}
                      {% include 'components/marker.html' with marker_name="CSS" marker_color="bg-blue-700"%}
                      {% include 'components/marker.html' with marker_name="JavaScript" marker_color="bg-yellow-700"%}
                    </div>
                  </div>
                  <div id="link">
                    <p>Link</p>
                    <p>No link</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- testing: modal -->

      <div 
      class="modal modal-content border-4 shadow-lg w-[800px] h-[800px] flex 
      flex-col pointer-events-auto bg-clip-padding 
      rounded-md outline-none text-current absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/3 z-40 scale-0"> 
      <!-- scale-0 -> scale-1 if active --> 
        <div
            class="
            modal-header flex flex-shrink-0 items-center justify-between 
            p-4 rounded-t-md">
            <svg id="nsb_close" xmlns="http://www.w3.org/2000/svg" 
            class="relative left-[740px] h-6 w-6 cursor-pointer text-gray-500 hover:text-white" 
            onclick="modalCloseBehaviour('experience-display-modal')"
            fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </div>
        <div
        class="px-[50px] pb-[30px] w-full h-full">
            <div class="w-full flex justify-between">
                <div 
                class="experience-name">
                    <h3 
                    class="leading-normal" 
                    id="exampleModalLabel">
                    My Coding Journey
                    </h3>
                </div>
                <div class="likes-icon pr-[15px]">
                    9999 :)
                </div>
            </div>
            <div
            class="description pt-[20px]">
                <h4
                class="text-slate-400">
                    Description
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque doloribus id accusantium omnis amet dolor facilis unde, saepe quidem deleniti laudantium voluptatem laborum velit magni quis architecto iste corporis laboriosam aut obcaecati magnam consequatur maiores vel. Vero, totam. Provident voluptatum fuga distinctio, nam delectus blanditiis eos! Officia quo sit laboriosam.
                </p>
            </div>
            <div
            class="tech-tag-container pt-[20px]">
                <h4
                class="text-slate-400">Skills</h4>
                <div class="tech-tag tech-tag-blue p-2 ml-0">Python</div>
                <div class="tech-tag tech-tag-green p-2">Django</div>
                <div class="tech-tag tech-tag-orange p-2">Javascript</div>
            </div>
            <div
            class="dates-container flex justify-between">
                <div
                class="start-date inline-block">
                    <h4
                    class="inline-block text-slate-400">Start Date:</h4>
                    <div
                    class="bg-slate-400/[.25] inline-block rounded-lg">
                        <h4
                        class=""> 12 April, 2022</h4>
                    </div>
                </div>
                <div
                class="end-date inline-block">
                    <h4
                    class="text-slate-400 inline-block ">End Date:</h4>
                    <div
                    class="bg-white opacity-10 inline-block rounded-lg">
                        <h4
                        class="text-white">18 April, 2022</h4>
                    </div>
                </div>
            </div>
            <div
                class="link pt-[20px]">
                    <h4
                    class="text-slate-400 inline-block ">Project Link</h4>
                    <h5  class="text-slate-400"><a href="">https://linktoproject.me/</a></h5>
            </div>
        </div>
      </div>
      <!-- end of testing -->
      <div id="overlay" class="fixed top-0 left-0 right-0 bottom-0 bg-slate-200 opacity-50 pointer-events-none"></div>
        
</div>

{% endblock content %}