{% extends 'base.html' %}

{% block content %}


<div class="bg-background h-full p-14 relative">
      <div id="profile" class="flex items-center justify-center space-x-10">
        <div id="pic-container" class="w-52">
          <img src="{{profile.image.url}}" alt="" class="w-full h-52 object-cover object-top rounded-full border-2">
        </div>
        <div>
          <h3>{{profile.first_name | title}} {{profile.last_name | title}}</h3>
          <a class="button" href="{% url 'other_user_skill_tree_page' %}?username={{ profile.user.username }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
          </svg>
            <span>View Skill Tree</span>
          </a>
        </div>
      </div>

      <div id="grid" class="grid gap-8 grid-cols-2 p-20">
        <div id="bio" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Biography</h4>
          <p class="break-words">
            {% if profile.bio %}
              {{profile.bio}}
            {% else %} 
              {{profile.first_name}} don't have bio 😅
            {% endif %}
          </p>
        </div>
        <div id="add-info" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Extra Info</h4>
          <div id="created-time">
            <p>📅 Member since {{profile.date_created}}</p>
          </div>
          <div id="num-exp">
            <p>🔥 Number of experience: {{num_exp}}</p>
          </div>
        </div>

        <div id="email" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Email</h4>
          <p class="break-words">
            {% if profile.email %}
              {{profile.email}}
            {% else %}
              {{profile.first_name}} don't have email 😅
            {% endif %}
          </p>
        </div>

        <div id="social-links" class="border-2 rounded-xl p-5 space-y-3">
          <h4>Social</h4>
          {% if profile.twitter or profile.linkedin or profile.github or profile.website %}
            <ul class="grid grid-cols-2 gap-2">
              <!-- if twitter_link exist -->
              <!--end if -->
              {% if profile.twitter %}
                <a href="{{profile.twitter}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/twitter.html' with class="h-8 w-8 mr-2 fill-white" %}  
                  <li>
                    Twitter
                  </li>
                </a>
              {% endif %}
              {% if profile.linkedin %}
                <a href="{{profile.linkedin}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/linkedin.html' with class="h-8 w-8 mr-2 fill-white " %}  
                  <li>
                    Linkedin
                  </li>
                </a>
              {% endif %}
              {% if profile.github %}
                <a href="{{profile.github}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/github.html' with class="h-8 w-8 mr-2 fill-white" %}
                  <li>
                    Github
                  </li>
                </a>
              {% endif %}
              {% if profile.website %}
                <a href="{{profile.website}}" target="_blank" class="flex items-center w-4/6 hover:-translate-y-0.5 transform transition opacity-50 hover:opacity-100">
                  {% include 'icons/website.html' with class="h-8 w-8 mr-2 fill-white"  %} 
                  <li>
                    Website
                  </li>
                </a>
              {% endif %}
            </ul>
          {% else %}
            <p>Add your online precense in settings🤩🤩</p>
          {% endif %}
        </div>
      </div>
      <!-- for experience in experiences
              experience
          endfor
      -->
      <h3 class="text-center mb-3">Experiences</h3>
      <div id="cards-container" class="grid grid-flow-col auto-cols-[55%] gap-3 overflow-x-auto overscroll-x-contain">
        {% for exp in experiences %}
        <div id="card-container"
        onclick="exp_getter('{{ exp.id }}' ,'experience-display-modal')"
        >
          <div class="top-card border-2 rounded-xl bg-[url('/static/images/journey_image.jpg')] bg-no-repeat bg-cover bg-center h-[250px] cursor-pointer relative">
            <p class="absolute bottom-3 left-3 line-clamp-1">{{ exp.name }}</p>
            <div class="absolute bottom-3 right-3">
              {% include 'icons/heart.html' with class="h-8 w-8 cursor-pointer" %}            
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% include 'app/experience_display.html' %}
</div>

{% endblock content %}