<form action="">
    {{form.as_table}}

    <button type="submit">Submit</button>
</form>

div



<!-- <form action="/view function/" method="post">
    <label for="Project Name">Project Name:</label>
    <input id="project_name" type="text"  name="project_name" value="{{project_name}}">

    <label for="Project Link">Project Link:</label>
    <input id="project_link" type="text"  name="project_link" value="{{project_link}}">

    <label for="Start Date">Start Date:</label>
    <input id="start_date" type="date"  name="start_date" value="{{start_date}}">

    <label for="End Date">End Date:</label>
    <input id="end_date" type="date"  name="end_date" value="{{end_date}}">

    <button type="submit">Submit</button>

</form> -->