{% extends "base.html" %}
{% load static %}

{% block header %}
  <title>Setting</title>
{% endblock header %}

{% block content %}
<div class="flex h-[calc(100%_-_80px)]">
  {% include "components/sidemenu.html" %}
  <div class="w-full bg-background h-full overflow-y-auto py-8">
    <div id="container" class="flex flex-col items-center justify-center">
      <div class="lg:space-y-6 text-center">
        <h3>Settings</h3>
        <p>Update your photo and personal detials</p>
      </div>
      <form method="POST" enctype="multipart/form-data" class="mx-20 my-5 lg:space-y-8 w-3/5 h-full">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <h3 id="setting_personal_information">Personal Information</h3>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_first_name" class="text-[25px]">
              {{setting_form.first_name.label | title}}
            </label>
            {{setting_form.first_name}}
          </div>
        </div>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_last_name" class="text-[25px]">
              {{setting_form.last_name.label | title}}
            </label>
            {{setting_form.last_name}}
          </div>
        </div>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_email" class="text-[25px]">
              {{setting_form.email.label | title}}
            </label>
            {{setting_form.email}}
          </div>
        </div>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_image" class="text-[25px]">
              {{setting_form.image.label | title}}
            </label>
            <div id="pic-container" class="w-44">
              <img src="{{request.user.profile.image.url}}" alt="profile.img" class="w-full h-44 object-cover object-top border-2 rounded-full m-2 bg-blue-50/80">
            </div>
            {{setting_form.image}}
          </div>
        </div>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_bio" class="text-[25px]">
              {{setting_form.bio.label | title}}
            </label>
            {{setting_form.bio}}
          </div>
        </div>
        <h3 id="setting_socials">Socials</h3>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_bio" class="text-[25px]">
              {{setting_form.twitter.label | title}}
            </label>
            {{setting_form.twitter}}
          </div>
        </div>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_bio" class="text-[25px]">
              {{setting_form.github.label | title}}
            </label>
            {{setting_form.github}}
          </div>
        </div>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_bio" class="text-[25px]">
              {{setting_form.linkedin.label | title}}
            </label>
          {{setting_form.linkedin}}
          </div>
        </div>
        <div class="form-group border-2 rounded-xl p-5">
          <div class="space-y-2">
            <label for="id_bio" class="text-[25px]">
              {{setting_form.website.label | title}}
            </label>
          {{setting_form.website}}
          </div>
        </div>
        <button type="submit" class="button">Save</button>
        <!-- float to the right so that its easier to reach -->
      </form>
    </div>
  </div>
</div>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script text="javascript">
      setTimeout(fade_out, 3000);
      function fade_out() {
          $(".messages").fadeOut().empty();
      }
  </script>


{% endblock content %}