# vscode workspace settings
# ignoring this because we all might have different preferences
.vscode

*/**/node_modules

# generated tailwind css, ignore since every time we update the style this updates.
# it is better to just generate one when starting dev env or for production.
static/css/tailwind.css


*/**/__pycache__/*
*/app/__pycache__/*
*/Webapp/__pycache__/*