@import url("/static/css/global.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&family=Poppins&family=Roboto&display=swap");

/* 
Navigation Bar 
- navbar-container
- navbar
- navbar list
*/

.navbar-container {
  background: var(--inactive-dark);
  max-width: 100vw;
  height: 80px;
  position: relative;
  left: 0px;
  top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 90%;
}

.navbar li {
  list-style-type: none;
  color: var(--white-justWhite);
  font-family: var(--main-font);
}

/* End of Navigation Bar */
