/* 
  This file will be used to included all styles configured by plugins.
  Tailwind will inject them when generating the styles.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /***** Color *****/
  /* main color palette */
  --primary-color-bluishPurple: #475aaa;
  --secondary-color-lightPurple: #ae8fdf;
  --white: #fff;
  --black: #000;
  --rice-white: #f1faee;
  --background: #000b0f;
  --dark-background: #002d3d;
  --success: #43d678;
  --error: #e3282a;

  /* extra color - bluish for button */
  --darker-primary: #23307a;

  /* outline colors */
  --outline-primary-color: #1125da;
  --outline-secondary-color: #8b69d7;
  --outline-white-color: #c4c4c4;
  --outline-dark-color: #000000;
  --outline-success-color: #a2f0b3;
  --outline-error-color: #ff7387;

  /* inactive color palette */
  --inactive-primary-color: rgba(71, 90, 170, 0.4);
  --inactive-secondary-color: rgba(122, 86, 201, 0.4);
  --inactive-dark-color: #002d3d;

  /* active outline palette */
  --main-outline: 5px solid var(--outline-primary-color);
  --secondary-outline: 5px solid var(--outline-secondary-color);
  --white-outline: 5px solid var(--outline-white-color);
  --dark-outline: 5px solid var(--outline-dark-color);
  --success-outline: 5px solid var(--outline-success-color);
  --error-outline: 5px solid var(--outline-error-color);
  
  /* Linear gradients palette*/
  --primary-gradient-color-from: #5561ff;
  --primary-gradient-color-to: #3643fc;
  --primary-gradient-top-bottom: linear-gradient(to bottom, var(--primary-gradient-color-from), var(--primary-gradient-color-to));
  --dark-gradient-color-from: #535354;
  --dark-gradient-color-to: #020206;
  --dark-gradient-top-bottom: linear-gradient(to bottom, var(--dark-gradient-color-from), var(--dark-gradient-color-to));
  /***** End Of Color *****/

  /*****  Typography ******/
  --main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  /* font-size:  */
  /*****  End Of Typography ******/
}