{% load static  %}

<!DOCTYPE html>
<html lang="en" class="w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&family=Poppins:wght@200;400;500;700&family=Roboto:wght@200;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    {% block headers %} 
    {% endblock headers %}
  </head>
  <body class="w-full h-full bg-black text-white tracking-[0.5px] scroll-smooth">
    <!-- 
      Due to the different look of the navbar on the landing page,
      this block could be replaced with what ever block it is need to achieve the look
      while still have the default look on other pages when it is not replaced.
     -->
    {% block nav %}
      {% include "components/navbar.html"%}
    {% endblock nav %}

    {% block content %}
      {% block side_menu %}
      {% endblock side_menu %}
      
      {% block side_content %}
      {% endblock side_content %}

    {% endblock content %}
  </body>
</html>
