{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    {% include "navbar.html" %}
    <h1>Homepage</h1>
    <h3>This page an example of a working html template with django.</h3>
    <p>
      The word passed from the backend view for this page is <b>{{sentence}}</b>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et metus
      sed nulla auctor accumsan a at nibh. Donec eget ex eu orci condimentum
      porttitor ac vitae mi. Donec ac porttitor lectus, et scelerisque nulla.
      Sed risus urna, venenatis in ipsum eget, lobortis placerat lacus.
      Phasellus quis metus urna. Ut non est non massa sollicitudin rutrum. In
      turpis dolor, euismod ac accumsan ut, euismod auctor leo. Donec eleifend
      at sapien id viverra. Maecenas aliquet aliquam erat, at aliquam orci
      efficitur ut. Morbi tortor elit, pulvinar at eros eget, aliquet pretium
      tortor.
    </p>

    <div class=""></div>
  </body>
</html>
