{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
  </head>
  <body>
    {% include "navbar.html" %}
    <!-- show the error message here -->
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <!-- show the error message here -->
    {% block content %}

    <!-- if the user is not authenticate, then don't show the logout button -->
    {% if request.user.is_authenticated %}
    <h1>Sup, {{request.user}}</h1>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <h1>Main Template over here</h1>

    {% endblock content%}
  </body>
</html>
