{% load static %}

{% comment %}
  Different Types Of Buttons And Use Cases:
  
  | Types  |               Description                  |
  | :----- | :----------------------------------------- |
  | link | Use when the button only opens a new link.   |
  | submit | A button inside a form.                    |
  | button | A general button.                          |

  <Attributes>: 
    There are two ways to set attributes:
    1. Set attributes using with syntax. i.e: {% include 'button.html' with ... %}
    2. Set the attributes using a dictionary defined in the view function, then pass the dictionary to the dict attribute. i.e: {% include 'button.html' with with dict=dictionary_with_attributes %}

  | Attribute |                              Description                                                  |
  | :-------- | :---------------------------------------------------------------------------------------- |
  | id        | The id of the button. Default id is button.                                               |
  | text      | The text of the button.                                                                   |
  | type      | The type of the button. See table above for the different types.                          |
  | color     | The color of the button. Default primary color. See color table for the different colors. |
  | variant   | Two looks of the button. There is only a length difference.                               |
  | classes   | This is to give additional classes for the button for more control. Check variant table.  |
  | href      | The link to go when clicking on a button of type link.                                    |
  | dict      | This is a dictionary with the disire attributes. Higher priority if defined.              |

  <Colors>: The color of the button can also be set by passing another color class in the context. One of the "bg-<color>" should do the job.
  
  |       Color      |                Description                       |
  | :--------------- | :----------------------------------------------- |
  | primary          | Reflects the primary color set in the theme.     |
  | secondary        | Reflects the secondary color set in the theme.   |
  | primary-gradient | Linear gradient for the primary color.           |
  | dark-gradient    | Linear gradient with a black color.              |

  <Variant>:

  | Variant |                                         Description                                             |
  | :------ | :---------------------------------------------------------------------------------------------- |
  | normal  | Default variant. Rectangular looking button with similar white space around the text displayed. |
  | wide    | Wider version. More white space on the left-right sides of the button.                          |
{% endcomment %}

{% if dict.type == "link" or type == "link" %}

<a href="{% firstof dict.href href '#' %}">
  <button    
    class="
    {% if dict.color %}
      {% if dict.color == 'primary' %} bg-primary
      {% elif dict.color == 'secondary' %} bg-secondary
      {% elif dict.color == 'primary-gradient' %} bg-primary-gradient
      {% elif dict.color == 'dark-gradient' %} bg-dark-gradient
      {% else %} dict.color
      {% endif %}
    {% elif color %}
      {% if color == 'primary' %} bg-primary
      {% elif color == 'secondary' %} bg-secondary
      {% elif color == 'primary-gradient' %} bg-primary-gradient
      {% elif color == 'dark-gradient' %} bg-dark-gradient
      {% else %} color
      {% endif %}
    {% else %} 
      bg-primary
    {% endif %}
    {% if variant == 'wide' %} 
      px-8
    {% else %} 
      px-4
    {% endif %}
    py-2
    rounded-md font-semibold text-center
    {% firstof dict.classes classes %}
    " 
    id="{% firstof dict.id id 'button' %}"
  >
    {% firstof dict.text text 'Link Button' %}
  </button>
</a>

{% elif dict.type == "submit" or type == "submit" %}  

<input 
  class="
  {% if dict.color %}
    {% if dict.color == 'primary' %} bg-primary
    {% elif dict.color == 'secondary' %} bg-secondary
    {% elif dict.color == 'primary-gradient' %} bg-primary-gradient
    {% elif dict.color == 'dark-gradient' %} bg-dark-gradient
    {% else %} dict.color
    {% endif %}
  {% elif color %}
    {% if color == 'primary' %} bg-primary
    {% elif color == 'secondary' %} bg-secondary
    {% elif color == 'primary-gradient' %} bg-primary-gradient
    {% elif color == 'dark-gradient' %} bg-dark-gradient
    {% else %} color
    {% endif %}
  {% else %} 
    bg-primary
  {% endif %}
  {% if variant == 'wide' %} 
    px-8
  {% else %} 
    px-4
  {% endif %}
  py-2
  rounded-md font-semibold text-center
  {% firstof dict.classes classes %}
  " 
  id="{% firstof dict.id id 'button' %}"
  type="submit"
  value="{% firstof dict.text text 'Submit Button' %}"
/>

{% else %}

<button 
  class="
  {% if dict.color %}
    {% if dict.color == 'primary' %} bg-primary
    {% elif dict.color == 'secondary' %} bg-secondary
    {% elif dict.color == 'primary-gradient' %} bg-primary-gradient
    {% elif dict.color == 'dark-gradient' %} bg-dark-gradient
    {% else %} dict.color
    {% endif %}
  {% elif color %}
    {% if color == 'primary' %} bg-primary
    {% elif color == 'secondary' %} bg-secondary
    {% elif color == 'primary-gradient' %} bg-primary-gradient
    {% elif color == 'dark-gradient' %} bg-dark-gradient
    {% else %} color
    {% endif %}
  {% else %} 
    bg-primary
  {% endif %}
  {% if variant == 'wide' %} 
    px-8
  {% else %} 
    px-4
  {% endif %}
  py-2
  rounded-md font-semibold text-center
  {% firstof dict.classes classes %}
  " 
  id="{% firstof dict.id id 'button' %}"
>
  {% firstof dict.text text 'Link Button' %}
</button>

{% endif %}