{% load static %}

<nav
  class="{% if transparent %} bg-transparent {% else %} bg-dark {% endif %} w-full h-20 {% if alternate %} fixed top-0 left-0 z-[2] {% else %} fixed top-0 left-0 z-[2]{% endif %}  transition-all duration-200"
>
  {%if alternate %}
  <ul
    class="flex justify-end items-center my-0 mx-auto w-11/12 h-full text-rice-white list-none"
  >
    <li class="mx-10 cursor-pointer opacity-70 hover:opacity-100">
      <a href="#about_us">About Us</a>
    </li>
    <li class="mx-10 cursor-pointer opacity-70 hover:opacity-100">
      <a href="#how_it_works">How It Works</a>
    </li>
    <li class="mx-10 cursor-pointer">
      <a href="{% url 'login' %}"
        ><button class="button bg-dark-gradient button-transition">
          Log In
        </button></a
      >
    </li>
  </ul>
  {% else %}
  <!-- nav -->
  <!-- nav-container -->
  <div
    class="flex justify-between items-center w-11/12 h-full my-0 mx-auto text-lg"
  >
    <!-- links: logo, how, about -->
    <ul class="flex justify-start items-center h-20">
      <li class="mx-10 cursor-pointer opacity-70 hover:opacity-100">
        <a href="{% url 'landing_page' %}">Logo</a>
      </li>
      <li class="mx-10 cursor-pointer opacity-70 hover:opacity-100">
        <a href="{% url 'about_us' %}">About Us</a>
      </li>
      <li class="mx-10 cursor-pointer opacity-70 hover:opacity-100">
        <a href="{% url 'how_it_works'%}">How It Works</a>
      </li>
    </ul>
    <!-- end of links -->
    <!-- profile: img, profile-info(name, info) -->
    <div class="flex justify-start items-center h-20">
      <div id="pic-container" class="w-12">
        <img src="{{request.user.profile.image.url}}" alt="profile.img" class="w-full h-12 object-cover object-top rounded-full">
      </div>
      <div class="ml-10">
        <p class="cursor-pointer opacity-70 hover:opacity-100">{{request.user.username | title}}</p>
        <p class="cursor-pointer opacity-70 hover:opacity-100">{{request.user.profile.email}}</p>
      </div>
    </div>
    <!-- end of profile -->
  </div>
  <!-- end of container -->
  {% endif %} {% comment %}
  <!-- if the user is not authenticate, then don't show the logout button -->
  {% if request.user.is_authenticated %}
  <h1>Sup, {{request.user}}</h1>
  <a href="{% url 'logout' %}">Logout</a>
  {% else %}
  <a href="{% url 'login' %}">Login</a>
  {% endif %}

  <!-- show the error message here -->
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <!-- show the error message here -->
  {% endcomment %}
</nav>
