{% load static %}

<nav class="bg-dark max-w-vw-full h-20 relative top-0 left-0">
  
  <ul class="flex justify-between items-center my-0 mx-auto w-11/12 h-full text-rice-white list-none">
    <li>Home</li>
    <li>How It Works</li>
    <li>About Us</li>
    <li>Resource</li>
  </ul>

  {% comment %} <!-- if the user is not authenticate, then don't show the logout button -->
  {% if request.user.is_authenticated %}
    <h1>Sup, {{request.user}}</h1>
    <a href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a href="{% url 'login' %}">Login</a>
  {% endif %}

  <!-- show the error message here -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- show the error message here --> 
  {% endcomment %}
  </nav>
