{% load static %}
<div class="projectCardContainer" id="proj-card-{{project.id}}">
    <div class="
        condensed_card grid grid-cols-3 
        bg-slate-600 bg-opacity-[30%] 
        rounded-md my-1.5 align-middle mx-2 p-0
        pt-2 pb-2
        justify-center align-center
        "
        onClick="exp_getter({{project.id}}, 'experience-display-modal')">
        {% comment %} bg-graay-300 rounded-sm border-slate-50 {% endcomment %}
        <div class="project_name my-auto flex justify-center">
            <a href="{{project.project_link}}">{{project.name}}</a>
        </div>
        {% if type == "skill_search_click"%}
        <div class="username my-auto flex justify-center">
            <a href="{% url 'profile_page' %}/{{ project.profile.username }}">{{project.profile.username}}</a>
        </div>
        {% endif %}
        <div class="likes my-auto flex justify-center">
            {{project.likes_amount}}
        </div>
        <div class="post_date my-auto flex justify-center">
            {{project.start_date}}
        </div>
        <div class="markers">
            {% comment %} {% for marker in project.markers %} {% endcomment %}
                {% comment %} {% include "/components/marker.html" with marker=project.markers %} {% endcomment %}
            {% comment %} {% endfor %} {% endcomment %}
        </div>
    </div>
    <div class="expanded_card border-2 border-gray-600 rounded-lg mx-2">
        <div class="hidden opacity-0 transition duration-[400ms]" 
        id="proj-desc-{{project.id}}"> 
            {% comment %}  {% endcomment %}
            <div class="ml-3 flex justify-center w-[125px] border-b-2 border-white">
                <h5>Description</h5>
            </div>
            <div class="disc-content mx-3">
                {{project.description}}
            </div>
        </div>
    </div>
</div> 
