{% load static %}


<!-- side card -->
<div class="absolute h-full w-80 px-10 pt-10 z-10 overflow-auto bg-darker_blue ">
  <div class="mb-8 space-y-1.5"> 
      {% include 'components/menu_item.html' with name="Skill Tree" link="dashboard_page" %}
      {% include 'components/menu_item.html' with name="All Projects" link="summary_page" %}
      {% include 'components/menu_item.html' with name="Profile" link="profile_page" %}
      {% include 'components/menu_item.html' with name="Settings" link="settings_page" %}
  </div>  
  <!-- the sidebar menu item -->
  <!-- tech card  -->
  <div class="mb-10 space-y-4">
    {% include "components/tech_card.html" %}
  </div>
  <!-- end of the tech card -->
</div>
<!-- end of the sidebar menu item -->
<!-- tech card  -->
<!-- end of the tech card -->